# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
TestResults/
*.ncrunch*
*.localhistory/
*.vscode/
*.DS_Store
*.swp
*.sln.ide
*.dbmdl
*.log
*.pdb
*.cache
*.ide
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.vshost.*
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.dotCover.user
*.dotCover.xml
*.nunit*
*.coverage*
*.vspscc
*.vssscc
*.scc
*.orig
*.bak
*.tmp
*.tmp_proj
*.tmp_files
*.tmp_dir
*.tmp_bin
*.tmp_obj
*.tmp_test
*.tmp_coverage
*.tmp_results
*.tmp_logs
*.tmp_cache
*.tmp_sln
*.tmp_vs
*.tmp_vscode
*.tmp_resharper
*.tmp_dotCover
*.tmp_nunit
*.tmp_coverage
*.tmp_vspscc
*.tmp_vssscc
*.tmp_scc
*.tmp_orig
*.tmp_bak
*.tmp_tmp
*.tmp_proj
*.tmp_files
*.tmp_dir
*.tmp_bin
*.tmp_obj
*.tmp_test
*.tmp_coverage
*.tmp_results
*.tmp_logs
*.tmp_cache
*.tmp_sln
*.tmp_vs
*.tmp_vscode
*.tmp_resharper
*.tmp_dotCover
*.tmp_nunit
*.tmp_coverage
*.tmp_vspscc
*.tmp_vssscc
*.tmp_scc
*.tmp_orig
*.tmp_bak
*.tmp_tmp
*.tmp_proj
*.tmp_files
*.tmp_dir
*.tmp_bin
*.tmp_obj
*.tmp_test
*.tmp_coverage
*.tmp_results
*.tmp_logs
*.tmp_cache
*.tmp_sln
*.tmp_vs
*.tmp_vscode
*.tmp_resharper
*.tmp_dotCover
*.tmp_nunit
*.tmp_coverage
*.tmp_vspscc
*.tmp_vssscc
*.tmp_scc
*.tmp_orig
*.tmp_bak
*.tmp_tmp
*.tmp_proj
*.tmp_files
*.tmp_dir
*.tmp_bin
*.tmp_obj
*.tmp_test
*.tmp_coverage
*.tmp_results
*.tmp_logs
*.tmp_cache
*.tmp_sln
*.tmp_vs
*.tmp_vscode
*.tmp_resharper
*.tmp_dotCover
*.tmp_nunit
*.tmp_coverage
*.vs/
